header {
  display: flex;
  padding-inline: 16px;
  padding-block: 8px;
  background-color: #333;
  color: white;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 1.5rem;
  font-weight: bold;
  justify-content: space-between;

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    > span {
      cursor: pointer;
      text-decoration: none;
      color: white;
      font-weight: bold;
      font-size: 1.5rem;

      &:hover {
        color: #ffcc00;
      }
    }
  }

  ul {
    list-style: none;
    display: flex;
    gap: 16px;
    margin: 0;
    padding: 0;

    li {
      cursor: pointer;
      transition: color 0.3s;

      &:hover {
        color: #ffcc00;
      }
    }
  }
}
